/*Archivo de estilos para el sitio web Curriculum vitae */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 200px;
    font: 16px/1.6 Georgia, Times, serif;
    color: #000;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1em;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

abbr {
    text-decoration: none;
}

a {
    color: #FF3A20;
}

a:hover {
    color: #000;
    text-decoration: none;
}

/*Clase para esconder un elemento que será visible únicamente a los lectores de pantalla (aplicado para mejorar la accesibilidad: enlace que permite ir directamente al contenido principal de la página y acceso a la visualización directa del video en Youtube*/

.sr {
    position:absolute;
    height:1px;    
    width:1px;    
    overflow:hidden;    
    clip:rect(1px, 1px, 1px, 1px);
}



/*Contenedores del sitio*/


articulo__cabecera {
    width: 100%;
}



.pie {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 175px;
    padding-top: 5px;
    padding-bottom: 15px;    
    background-color: #000;
    color: #fff;
}


/*
Las reglas que van a continuación consiguen que los contenidos dentro del elemento de class .container se adapten a los diversos dispositivos.
La clase .container define un contenedor que ocupa el 100% de la pantalla del dispositivo, con un relleno por la izquierda y por la drecha de 15 píxeles, y márgenes por la izquierda y por la derecha automáticos, para conseguir un diseño centrado.
A continuación utilizaremos media queries, un módulo de CSS3 que permite adaptar la representación del contenido a las características del dispositivo y que se estudian en la unidad 7.
Con las 4 media queries utilizadas indicamos la anchura máxima que el .container debe tener cuando los dispositivos tengan la anchura mínima indicada por el punto de ruptura (breakpoint).
*/

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
  

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}
  

@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
}
  

@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}
  

@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}


.principal {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: auto;
}


.secciones {
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}


a {
    color:rgba(0, 0, 0, 1);
    text-decoration: none;
}


a:hover {
    color: rgba(213, 25, 25,1);
}


a.current {
    border-bottom: 2px solid #000;
}


/*Menú de navegación principal*/


.navegacion {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}


.navegacion ul {
    list-style: none;
    font-size: 1rem;
}


@media (min-width: 768px) {
    .navegacion ul li {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .navegacion ul li:first-child {
        padding-left: 0;
    }
    .navegacion ul li:last-child {
        padding-right: 0;
    } 
    
}


/*Estilos para el artículo */

.articulo {
    text-align: justify;
}

.articulo h2, .articulo h3 {
    text-align: left;
}

.autor {
    background-color: #F7F2F3;
    padding: 15px;
    overflow: auto;
}

.articulo__meta {
    font-size: 1.3rem;
}

.articulo__bio {
    margin-top: 50px;
    font-size: 1rem;
}

.articulo_intro {
    font-size: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

blockquote {
    border-right: 5px solid #FF3A20;
    background-color: #F7F2F3;
    padding: 15px 30px;
    margin: 15px 0;
}

.articulo__pie {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
    text-align: center;
}


/*Cuando tengamos como mínimo 768px en el viewport, interesará que los elementos con estas clases floten a la izquierda o a la derecha, en caso contrario querremos que sigan el flujo normal de la página*/
@media (min-width: 768px) {
    .floatLeft {
        float: left;
    } 

    .floatRight {
        float: right;
    }    
  
    .topics .floatLeft {
        width: 33%;
        padding: 15px;
    }

}



.topics {
    background-color: #FFFBD4;
    text-align: center;
}



.topics img {
    max-width: 100%;
    height: auto;
}



/****************************
Imagenes para la cabecera
*****************************/

.hero {
    height: 300px;
    
    padding-top: 100px;
}

.home {
    background: #fff url(../../assets/images/Captura.PNG) no-repeat bottom center;
    color: #000;
    background-size: cover;
}

.hero p:first-child {
    font-size: 2.3rem;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.hero p:nth-child(2) {
    font-size: 2rem;
    font-weight: 200;
}

@media (min-width: 768px) {
    .hero {
        height: 300;
    }
    .hero p:first-child {
        font-size: 2.3rem;
        font-family: 'Merriweather', serif;
        font-weight: 700;
    }
    .hero p:nth-child(2) {
        font-size: 2rem;
        font-weight: 200;
    }
}

/****************************
Footer
*****************************/
footer ul li {
    display: inline-block;
    padding-left: 15px;
}

footer ul.menuFooter li {
    display: block;
}

@media (min-width: 768px) {
    footer ul.menuFooter li {
        display: inline-block;
        padding-left: 15px;
    }
}
footer ul li:first-child {
    padding-left: 0;
}

footer ul li:last-child {
    padding-right: 0;
} 

footer a {
    color: #fff;
}

footer a:hover {
    color: rgba(204, 0, 0, .7);
}

ul.noPics {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
    font-size: 1rem;
    margin-bottom: 0; 
}